*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
}

html {
  font-size: 16px;
  scroll-behavior: smooth;
}

body {
  width: 100%;
  height: 100vh;
  font-family: "Open Sans", sans-serif;
  background-color: blueviolet;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

/* global css */
img {
  width: 100%;
  height: auto;
  -o-object-fit: contain;
  object-fit: contain;
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}

.container {
  max-width: 1140px;
  margin: 0 auto;
  padding-left: 1rem;
  padding-right: 1rem;
}

.btn {
  display: inline-block;
  border-radius: 6px;
  padding: 0.5rem 1.5rem;
  margin-top: 0.5rem;
  text-transform: capitalize;
  font-size: 1.2rem;
  font-weight: 500;
  cursor: pointer;
  /* customize */
  background-color: rgb(102, 51, 153);
  color: white;
  border: 2px solid rgb(102, 51, 153);
}

.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 28rem;
  height: 65vh;
  background-color: #fff;
  padding: 1rem;
  text-align: center;
  gap: 1rem;
  border-radius: 0.75rem;
}

.title {
  font-size: 1.25rem;
  font-weight: 600;
}

.guess {
  padding: 1rem 1rem;
  border: 2px solid #2c2c2c;
  border-radius: 4px;
  text-align: center;
}

.results {
  margin: 1rem auto;
  color: #2c2c2c;
  font-size: 1.25rem;
  font-weight: 500;
  margin: 1rem auto;
  text-align: center;
}

#resluts {
  margin: 1rem auto;
}

#extra-content {
  margin: 1rem auto;
  line-height: 1.25;
}

@media screen and (min-width: 576px) {
}

/* Medium devices (tablets) */

@media (min-width: 768px) {
}

/* Large devices (desktops) */

@media (min-width: 991px) {
}

/* Extra large devices (large desktops) */

@media (min-width: 1200px) {
}
